# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore Multisite setup files and directories.

sites/PaviDemoDrupal.local
sites/PaviDemoDrupalStage.local
sites/PaviDemoDrupalStage
